# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Build products
*.pyc
# Executables
*.exe
*.out
*.app
# Databases
*.db
.gdb_history
#
# Dross
*swp
