Debug
Release
output

*.deb
debian-x86_64/opt
debian-x86_64/etc
debian-x86_64/DEBIAN/control

debian-armv7l/opt
debian-armv7l/etc
debian-armv7l/DEBIAN/control

debian-arm64/opt
debian-arm64/etc
debian-arm64/DEBIAN/control
